{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<h1 style="text-align: center;">Elenco da 1ª Temporada</h1> 
<section class="atores">
    {% for ator in elenco %}
    <div class="ator-card">
        <img src="{% static 'blog/' %}{{ ator.foto }}" alt="{{ ator.nome }}">
        <div class="ator-info">
        <h3>{{ ator.nome }}</h3>
        <p>{{ ator.numero }} | {{ ator.idade }} anos</p>
        <p>{{ ator.nascimento }}</p>
        <p>{{ ator.resumo }}</P> 
    </div>
    {% endfor %}

</section>
{% endblock %}